*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.Home{
    padding: 0px 20px;
}

.Bonus-note{
    background-image: url("https://n.nordstrommedia.com/id/4f94f22c-fcbf-4b4d-967a-67a0a1bce95c.jpeg");
    margin: 20px 0px;
    height: 200px;
    display: flex;
}

.Bonus-note>div{
    width: fit-content;
    align-items: flex-start;
}

.Bonus-note>div>h2{
    font-size: 25px;
}

.Bonus-note>div>p{
    font-weight: lighter;
}

.Bonus-note>div>a{
    text-decoration: underline;
}


/* First Slider */
.Slider{
    margin: 40px 0px;
    /* border: 1px solid red; */
    overflow: hidden;
    position: relative;
}


.Slider-Cards{
    /* border: 1px solid green; */
    display: flex;
    align-items: flex-start;
    padding: 10px 18px;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}

.slider-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
}

.slider-btn:hover{
    background-color: gray;
    color: white;
}

.pre-btn{
    left: 0;
}

.nxt-btn{
    right: 0;
}

/* Card */
.Slider-Card-One{
    max-width: 220px;
    min-width: 220px;
    align-items: flex-start !important;
    margin: 15px 12px;
}

.Slider-Card-One>img{
    width: 100%;
}

.Slider-Card-One>p{
    font-size: 15px;
}

.Slider-Card-One>p:nth-child(2){
    color: #27aa66;
    font-size: 14px;
    font-weight: bold;
}

.Slider-Card-One>p:nth-child(3){
    font-weight: lighter;
    font-size: 17px;
}

.Slider-Card-One>p:nth-child(4){
    font-weight: bold;
}

.Slider-Card-One>div:nth-child(5)>svg{
    font-size: large;
}

.Slider-Card-One>div:nth-child(5)>p{
    color: gray;
}

/* Slider Card One ended here */

/* Slider Card Two start here */

.Slider-Card-Two{
    max-width: 220px;
    min-width: 220px;
    align-items: flex-start !important;
    margin: 15px 12px;
}

.Slider-Card-Two>div:nth-child(1){
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
    position: relative;
}

.Slider-Card-Two>div:nth-child(1)>div{
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid rgb(187, 187, 187);
    color: rgb(85, 85, 85);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.638);
    cursor: pointer;
}

.Slider-Card-Two>div:nth-child(1):hover>div{
    display: flex;
}

.Slider-Card-Two>div:nth-child(1)>div:hover{
    border: 1px solid #1b1b1b;
    color: #181818;
    background-color: rgba(255, 255, 255, 0.881);
}


.Slider-Card-Two>a>p{
    font-size: 15px;
}

.Slider-Card-Two>a>p:nth-child(1){
    color: #d61f27;
    font-size: 18px;
    font-weight: bold;
}

.Slider-Card-Two>a>p:nth-child(2){
    font-weight: lighter;
    font-size: 17px;
}

.Slider-Card-Two>a>p:nth-child(3){
    font-weight: bold;
    color: #d61f27;
    font-size: 18px;
}

.Slider-Card-Two>a>p:nth-child(4){
    font-weight: 400;
    font-size: 17px;
    color: #d61f27;
}

.Slider-Card-Two>s:nth-child(5){
    color: gray;
    font-size: 17px;
    font-weight: lighter;
}

.Slider-Card-Two>div:nth-child(6)>svg{
    font-size: large;
}

.Slider-Card-Two>div:nth-child(6)>p{
    color: rgb(107, 107, 107);
    font-weight: lighter;
}


/* slider Ended */



.Christmas-time{
    background-image: url("https://n.nordstrommedia.com/id/f39af8b9-0100-4585-887b-a6aae159d220.png");
    background-size: 100% 100%;
    margin: 20px 0px;
    height: 200px;
    display: flex;
    color: white;
}

.Christmas-time>div{
    width: fit-content;
    align-items: flex-start;
}

.Christmas-time>div>h2{
    font-size: 25px;
}

.Christmas-time>div>p{
    font-weight: lighter;
}

.Christmas-time>div>div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Christmas-time>div>div>a{
    text-decoration: underline;
    border-bottom: 1px solid transparent;
}

.Christmas-time>div>div>a:hover{
    border-bottom: 1px solid gray;
}


/* Designer-Clearance */
.Designer-Clearance{
    background-image: url("https://n.nordstrommedia.com/id/725ce447-3e13-40ec-90ac-102b56804ea5.png");
    background-size: 100% 100%;
    margin: 20px 0px;
    height: 200px;
    display: flex;
    color: white;
    justify-content: center !important;
    align-items: flex-end !important;
    padding-bottom: 30px;
}

.Designer-Clearance>div{
    width: fit-content;
}

.Designer-Clearance>div>a{
    text-decoration: underline;
    border-bottom: 1px solid transparent;
}

.Designer-Clearance>div>a:hover{
    border-bottom: 1px solid gray;
}




.Nordy-Pod{
    background-image: url("https://n.nordstrommedia.com/id/50731a37-8fb1-4ae1-bd40-4597e2266297.jpeg");
    background-size: 100% 100%;
    margin: 20px 0px;
    height: 200px;
    display: flex;
    color: white;
    position: relative;
}

.Nordy-Pod>div{
    width: fit-content;
    align-items: flex-start;
    position: absolute;
    left: 50%;
}

.Nordy-Pod>div>h1{
    font-size: 15px;
}

.Nordy-Pod>div>p{
    font-weight: lighter;
}

.Nordy-Pod>div>div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Nordy-Pod>div>div>a{
    text-decoration: underline;
    border-bottom: 1px solid transparent;
}

.Nordy-Pod>div>div>a:hover{
    border-bottom: 1px solid gray;
}



@media all and (max-width: 768px) {
    .signinlink{
        font-size: 12px;
    }
}

@media all and (max-width: 320px) {
    .signinlink{
        font-size: 5px;
    }

    .Bonus-note{
        background-size: 100% 100%;
        height: 80px;
    }

    .Bonus-note>div:first-child>h2{
        font-size: 8px;
    }
    
    .Bonus-note>div>p{
        font-size: 5px;
    }

    .Christmas-time{
        background-size: 100% 100%;
        height: 80px;
    }

    .Christmas-time>div:first-child>h2{
        font-size: 10px;
    }

    .Christmas-time>div:first-child>h2+p{
        font-size: 8px;
    }

    .Christmas-time>div:first-child>div:nth-child(3)>a{
        white-space: nowrap;
        font-size: 5px;
    }

    .Designer-Clearance{
        margin: 20px 0px;
        height: 80px;
    }

    .Designer-Clearance>div>p{
        font-size: 10px;
    }

    .Nordy-Pod{
        background-size: 100% 100%;
        height: 80px;
    }

    .Nordy-Pod>div:first-child>h2{
        font-size: 10px;
    }

    .Nordy-Pod>div:first-child>h2+p{
        font-size: 8px;
    }

    .Nordy-Pod>div:first-child>div:nth-child(3)>a{
        white-space: nowrap;
        font-size: 5px;
    }
}


